playsound==1.2.2
pyaudio
googletrans==3.1.0a0
numpy
pandas
opencv-python
mouse
keyboard
requests
flask
gtts
feedparser
SpeechRecognition
pystray
pillow
pyautogui
pypresence
selenium
pymem
yt-dlp