@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
form{
    box-shadow: none;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 20%;
    display: block;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 40%;
    border: none;
    outline: none;
    background: transparent;
    background-color: transparent !important;
}