body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    background: url("https://wallpapers.com/images/hd/dark-city-long-exposure-70xebgkc8y8kb20u.jpg");
    background-color: black;
    background-repeat: no-repeat;
}