{% extends './templatelorai.html' %}
{% block body %}

    <form action="{{url_for('lorairpc')}}" method="post">
        <p>
            <input type="text" name="header" placeholder="header">
            <input type="text" name="details" placeholder="details">
            <input type="text" name="pictureheader" placeholder="picture header">
            <input type="text" name="picturelink" placeholder="picture link">
            <input type="text" name="header1" placeholder="1. link header">
            <input type="text" name="link1" placeholder="1. link">
            <input type="text" name="header2" placeholder="2. link header">
            <input type="text" name="link2" placeholder="2. link">
            <br>
            <br>
            <button type="submit" class="btn btn-outline-success">Update presence</button>
            <button type="submit" name="button" class="btn btn-primary">Start</button>

        </p>
    </form>
    
    
{% endblock %}