{% extends './templatelorai.html' %}
{% block body %}

    <form action="{{url_for('lorairpc')}}" method="post">
        <p>
            <input type="text" name="header" placeholder="header">
            <input type="text" name="details" placeholder="details">
            <input type="text" name="pictureheader" placeholder="picture header">
            <input type="text" name="picture" placeholder="picture link">
            <input type="text" name="1header" placeholder="1. link header">
            <input type="text" name="1link" placeholder="1. link">
            <input type="text" name="2header" placeholder="2. link header">
            <input type="text" name="2link" placeholder="2. link">
            <button type="submit" class="btn btn-outline-success">Update presence</button>
            <br>Header
            <br>Details
            <br>Picture
            <br>Picture Header
            <br>Buttons
        </p>
    </form>
    
    
{% endblock %}