{% extends './templatelorai.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function zamanıGüncelle() {
        $.ajax({
            url: "/zaman-al",
            success: function(cevap) {
                $('#guncel-zaman').text("Today is " + cevap);
            }
        });
    }
    zamanıGüncelle();
    setInterval(zamanıGüncelle, 1000);
</script>
    <h1>Welcome to Lor(A)I</h1>
        <p id="guncel-zaman"></p>
        <p>
            Recomended Browsers:
            <style>
             .btn.btn-outline-primary {
               color: orange;
               border-color: orange;
             }
             .btn.btn-outline-primary:hover {
                 background-color: black;
             }
             .btn.btn-outline-success {
               color: lime;
               border-color: lime;
             }
             .btn.btn-outline-success:hover {
                 background-color: black;
             }
            </style>
          
            <br>
            <br>
            <a href="https://download.mozilla.org/?product=firefox-stub&os=win&lang=tr"><button type="button" class="btn btn-outline-primary">Firefox</button></a> <a href="https://laptop-updates.brave.com/latest/winx64"><button type="button" class="btn btn-outline-primary">Brave</button></a>
            <br>
            <br>Recomended Mods:
            <br>
            <br><a href="https://spicetify.app/">Spicetify</a>
            <br><a href="https://betterdiscord.app/">Better Discord</a> 
            <br>
            <br>Recomended Antiviruses:
            <br>
            <br><a href="https://tr.norton.com/">Norton</a>
            <br>
            <br>Recomended Connection Settings:
            <br>
            <br>IPv4: 1.1.1.1 & 1.0.0.1
            <br>IPv6: 2606:4700:4700::1111 & 2606:4700:4700::1001
            <br>
            <br>Recomended Tools:
            <br>
            <br><a href="https://www.ventoy.net/en/index.html">Ventoy</a>
            <br><a href="https://www.7-zip.org/download.html">7-Zip</a>
            <br><a href="https://www.thunderbird.net/tr/">ThunderBird</a>
            <br>
            <br>If you want to take advantage of all the features you need to download:
            <br>
            <br><a href="https://github.com/mozilla/geckodriver/releases/download/v0.33.0/geckodriver-v0.33.0-win64.zip"><button type="button" class="btn btn-outline-success">Gecko</button></a>
            
        </p>

{% endblock %}